ul{
    list-style: none;
}
a{text-decoration: none;}
body {
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
}
.logo{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #2196F3;
}
.header-studio{
    color: black;
}
.nav-list-a{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
}
.contact-a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.nav-list-a:hover,:focus{
    color: #2196F3;
}
.contact-a:hover,:focus{
    color: #2196F3;
}
.h-one{
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}
.modal-btn{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background: #2196F3;
        cursor: pointer;
}
.solution{
    background-color: #2F303A;
}
.name-h-three{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.p{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.name-h-too{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.name-h-four{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}